In [1]:
!pip install pandas

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f494227ab50>: Failed to establish a new connection: [Errno -5] No address associated with hostname')': /simple/pandas/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f494227c370>: Failed to establish a new connection: [Errno -5] No address associated with hostname')': /simple/pandas/
Collecting pandas
  Downloading pandas-1.3.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.5 MB)
     |████████████████████████████████| 11.5 MB 9.6 MB/s eta 0:00:01     |█████████████████████████████▌  | 10.6 MB 9.6 MB/s eta 0:00:01
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.9/site-packages (from pandas) (2.8.2)
Collecting numpy>=1.17.3
  Downloading numpy-1.21.2-cp39-cp39-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.8 MB)
     |████████████████████████████████| 15.8 MB 12.4 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.21.2 pandas-1.3.3

In [2]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.26-cp39-cp39-manylinux1_x86_64.whl (30.9 MB)
     |████████████████████████████████| 30.9 MB 10.7 MB/s eta 0:00:01
Collecting protobuf>=3.0.0
  Downloading protobuf-3.18.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 3.7 MB/s eta 0:00:01
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.26 protobuf-3.18.1

In [4]:
from sqlalchemy import create_engine

source = create_engine('mysql+mysqlconnector://test:test123@172.18.0.2/test')

In [5]:
import pandas as pd

In [7]:
pd.read_sql_query('select * from person', source)

   id    name
0   1   Edgar
1   2  Lorena
2   3  Daniel
3   4   Kelly